.form-control {
    height: auto;
}

div.container div {
    padding-top: 10px;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, #422664 0px, #180e25 100%)
}

.navbar img {
    padding-bottom: 10px;
}

div#view-loops button {
    margin: 0px 10px 10px 0px;
}

p#signin-msg {
    margin-right: 20px;
}

.navbar {
    border-radius: 0;
}