<form>
    <div class="col-xs-8">
        <input type="text" class="form-control" name="looper-searchterm" placeholder="Search for an existing Looper" value="<%- searchterm %>">
    </div>
    <div class="col-xs-3">
        <button type="submit" id="looper-find" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find
        </button>
    </div>
</form>
<div class="row col-xs-12">
    <div class="col-xs-12">
        <div id="findlooper-results" class="col-xs-12 col-md-12"></div>
    </div>
</div>